---
layout: default
---

        <div class="demo-container mdl-grid">

          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col mdl-grid">
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">       
                  <img class="mainlogo" alt="MoBiSoc icon" src="{{ site.url }}/{{ site.logo_image }}" />
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone project">
              <h4>{{ site.title }}</h4>
              <p class="intro">
                  {{ site.description }}
              </p>
            </div>
          </div>

          <div class="demo-content projectcard mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <h4>News</h4>
              {% for post in site.posts limit:1 %}
                <div class="mdl-grid mdl-grid--no-spacing projectcontainer">
                  <h5 class="largetitle">{{ post.title }}</h5>
                  {{ post.excerpt }}
                  <a class="details" href="{{ post.url }}">Read on...</a>
                </div>
              {% endfor %}
              <a href="posts" class="mdl-button">More News</a>
          </div>

          <div class="demo-content projectcard mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <h4>Projects</h4>

            <div class="demo-crumbs mdl-color-text--grey-500" style="margin: 1em 0">A sample list of projects involving current and past members</div>
              {% assign items = site.projects | sort: 'end_date' | reverse %}
              {% for project in items limit:2 %}
                <div class="mdl-grid mdl-grid--no-spacing projectcontainer">
                  <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone projecticon">
                    {% if project.image %}        
                      <img class="projectIcon" alt="project icon" src="{{ project.image }}" />
                    {% else %}
                      <img class="projectIcon" alt="project icon" src="images/cu.png" />
                    {% endif %}
                  </div>
                  <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone project">
                    <h5 class="largetitle">{{ project.title }}</h5>
                    <p class="projectdates">{{ project.start_date }} - {{ project.end_date }}</p>
                    <p class='projectdesc'>{{ project.description }}</p>
                    <a class="mdl-button" href='{{ project.url }}'>Project Page</a>
                  </div>
                </div>

              {% endfor %}

          <a href="projects" class="mdl-button">View more</a>
              
          </div>

          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <h4>Publications</h4>

            <div class="demo-crumbs mdl-color-text--grey-500" style="margin: 1em 0">A sample list of publications involving current and past members</div>

              {% bibliography --max 7 %}          
            
              <a href="publications" class="mdl-button">View more</a>

          </div>





          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <h4>Members</h4>
            
            <div class="mdl-grid mdl-grid--no-spacing membercontainer">

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Professor Roger M. Whitaker</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Dr Stuart M. Allen</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Dr Martin J. Chorley</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Dr Gualtiero Colombo</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Dr Chris Williams</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Liam D. Turner</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Nyala Noe</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Beryl Noe</p>
                </div>

            </div>

            <div class="demo-crumbs mdl-color-text--grey-500" style="margin: 1em 0">Other Members / Past Members / Affiliates</div>

            <div class="mdl-grid mdl-grid--no-spacing membercontainer">

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Professor Christopher Jones</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Professor Alun Preece</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Professor Dave Marshall</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Dr Matthew J. Williams</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Dr George Theodorakopoulos</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Dr William Webberley</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Dr Ian Cooper</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Dr Joaquin Derrac</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Dr Pete Burnap</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Dr Steven Shockhaert</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Matthew P. John</p>
                </div>

                <div class="section__circle-container mdl-cell mdl-cell--4-col mdl-cell--1-col-phone member">
                  <p>Lowri Williams</p>
                </div>

            </div>

          </div>

        </div>
