---
layout: default
---
<div class="demo-container mdl-grid">
    <div class="demo-content projectcard mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

      <div class="mdl-grid mdl-grid--no-spacing projectcontainer">
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone projecticon">
        {% if page.image %}        
          <img class="projectIcon" alt="project icon" src="{{ site.url }}/{{ page.image }}" />
        {% else %}
          <img class="projectIcon" alt="project icon" src="{{site.url}}/images/cu.png" />
        {% endif %}
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone project">
          <h5 class="largetitle">{{ page.title }}</h5>
          <p class="projectdates">{{ page.start_date }} - {{ page.end_date }}</p>
          <p class='projectdesc'>{{ content }}</p>
          {% if page.project_url %}<a class="mdl-button" href="{{ page.project_url }}">Website</a>{% endif %}
        </div>
      </div>
      <footer>
        <a href="{{site.url}}" class="mdl-button">Home</a> <a href="{{site.url}}/projects/" class="mdl-button">More Projects</a>
      </footer>
    </div>
</div>
