---
layout: default
---
<div class="demo-container mdl-grid">
    <div class="demo-content projectcard mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

      <header>
        <h4 class="post-title"><a href="{{page.entry.url}}">{{ page.entry.title }}</a></h4>
        <p>{{ page.reference }}</p>
        <pre>{{page.entry.bibtex}}</pre>

        <footer class="lineabovefooter">
        <a href="{{site.url}}" class="mdl-button">Home</a> <a href="{{site.url}}/publications/" class="mdl-button">More Publications</a>
      </footer>
    </div>

</div>